body{
	width: 400px;
	background-color: lightslategrey;
	margin: 0 auto;
	padding: 0;
	font:12px/16px Verdana, sans-serif;
}
div#main{
	background-color: #FFF;
	margin: 0;
	padding: 10px;
  text-align: center;
}

#num {
  font-size: 2em;
}
.large {
  font-size: 2em;
  line-height: 1.2em;
}
#formatted {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
